<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <dialog id="create_transaction_modal" class="modal">
    <div
      class="modal-box w-11/12 max-w-5xl bg-gray-200 flex flex-col justify-center items-center gap-6 p-4 pt-6"
    >
      <h3 class="text-2xl font-extrabold text-indigo-600">
        CREATE A NEW TRANSACTION
      </h3>
      <label
        class="input input-bordered text-black text-xl flex items-center gap-2 w-[80%] bg-white shadow-md"
      >
        <span class="material-symbols-outlined"> description </span>
        <input
          type="text"
          class="grow"
          placeholder="Description"
          formControlName="description"
        />
      </label>
      <label
        class="input input-bordered flex text-black text-xl items-center gap-2 w-[80%] bg-white shadow-md"
      >
        <span class="material-symbols-outlined"> calendar_month </span>
        <input
          type="date"
          class="grow"
          placeholder="Date"
          formControlName="date"
        />
      </label>

      <div class="flex flex-row w-[80%] gap-2">
        <div
          class="input input-bordered text-black text-xl flex w-full gap-2 bg-white shadow-md"
        >
          <select
            class="select select-bordered bg-white w-full"
            formControlName="type"
          >
            <option value="INCOME" selected>INCOME</option>
            <option value="EXPENSE">EXPENSE</option>
          </select>
        </div>
        <div
          class="input input-bordered text-black text-xl flex w-full gap-2 bg-white shadow-md"
        >
          <span class="material-symbols-outlined"> category </span>
          <select
            class="select select-bordered bg-white w-full"
            formControlName="category"
          >
            @for (category of uniqueCategories; track category) {
            <option [value]="category" [selected]="category === 'Food'">
              {{ category }}
            </option>
            }
          </select>
        </div>
      </div>
      <label
        class="input input-bordered flex text-black text-xl items-center gap-2 w-[80%] bg-white shadow-md"
      >
        <span class="material-symbols-outlined"> payments </span>
        <input
          type="number"
          class="grow"
          placeholder="Amount"
          formControlName="amount"
        />
      </label>
      <div class="modal-action flex flex-row justify-end w-[80%]">
        <button
          class="btn btn-ghost btn-lg border-none hover:bg-white text-black"
          (click)="closeModal()"
        >
          CANCEL
        </button>
        <button
          type="submit"
          [disabled]="!createForm.valid"
          [ngClass]="{
            'bg-indigo-600 hover:bg-indigo-800 text-white': createForm.valid,
            'bg-gray-400 text-gray-700 cursor-not-allowed': !createForm.valid
          }"
          class="btn btn-lg border-none"
        >
          SAVE
        </button>
      </div>

      @if (errorMessages() && errorMessages().length > 0) {
      <div role="alert" class="alert alert-error p-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <div class="error-container">
          <ul>
            @for (error of errorMessages(); track error.msg) {
            <li class="error-item">
              <strong>{{ error.msg }}</strong>
            </li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
  </dialog>
</form>
