<!-- dashboard.component.html -->
<div class="flex flex-col gap-4 p-2">
  <div class="flex-1 overflow-auto">
    <app-modal></app-modal>
    <app-details-modal></app-details-modal>
    <div class="flex flex-row overflow-auto w-full justify-between gap-4">
      <div class="flex flex-wrap bg-gray-100 pb-4">
        @for (item of financialMetrics; track $index) {
        <app-my-card
          [title]="item.title"
          [value]="item.value"
          [icon]="item.icon"
        >
        </app-my-card>

        }
      </div>
    </div>
  </div>

  <!-- <div class="flex-1 overflow-auto">
    @for (item of transactions(); track $index) { }
  </div> -->

  <div class="flex-1 overflow-auto">
    <app-my-table
      [transactions]="transactions"
      class="w-full h-full"
    ></app-my-table>
  </div>
</div>
